MONGO_URL=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/service_manager?retryWrites=true&w=majority

DB_NAME=service_manager

JWT_SECRET=CHANGE_THIS_TO_RANDOM_64_CHAR

FRONTEND_URL=http://localhost:3000
